body {
    background-color: #f2f8fe;
    font-size: 100%;
    margin: 0;
}

.portal-wrapper {
    background-color: white;
    margin: auto;
    width: 1200px;
}

.header {
    background-color: green;
}

.nav {
    background-color: #e1b715;
}

/*Coloca la lista del header en linea horizontal
y con separación de 20 px
*/

.lista li{
display: inline;
padding-right: 20px;
}

.buscar {
    float: right;
}


.main {
    width: 72.3627%;
    float: left;
}

.sidebar {
    width: 27.6373%;
    float: left;
}

.bloque {
    background-image: url("imgs/bg-pie.jpg");
    float: left;
    height: 47px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 3px;
    text-align: center;
    width: 970px;
    background-color: #045FB4;
}


#subloque1 {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    width: 640px;  
}
#subloque2 {
    float: right;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 4px;    
    text-align: right;
    width: 275px;
}

.footer {
    background-color: #EFFBFB;
    color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

#leyenda-letras {
    float: left;
    width: 700px;
}

#img-stat {
    border-left: 1px solid #cccccc;
    float: left;
    padding-left: 5px;
    width: 225px;
}

#texto-fecha {
    font-size: 0.8em;
}

.container {
    overflow: hidden;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .portal-wrapper {
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }
}
