body {
    background-color: #f2f8fe;
    font-size: 100%;
    margin: 0;
}

.portal-wrapper {
    background-color: white;
    margin: auto;
    width: 1200px;
}

.header {
    background-color: green;
}

.main {
    width: 72.3627%;
    float: left;
}

.sidebar {
    width: 27.6373%;
    float: left;
}

.footer {
    background-color: lightblue;
}

.container {
    overflow: hidden;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .portal-wrapper {
        width: auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }
}
